{% extends "base.html" %}
{% block header_title %} Play {% end %}
{% block header_static %}
<script type="text/javascript" src="{{static_url('chplayer/chplayer.js')}}"></script>
<div id="play_demon" class="container">

</div>
<script type="text/javascript">
    var video_obj = {
        container:"#play_demon",
        variable:"player",
        volume:0.5,
        poster:'',//封面地址
        autoplay:true,
        loop:false,
        video:[["{{video_url}}", "video/mp4", "标清", 0],["{{video_url}}", "video/mp4", "高清", 2]]
    };
    var player = new chplayer(video_obj);
</script>
{% end %}

