{% block header_title %} Play video {% end %}
{% block header_static %}

<link rel="stylesheet" href="{{static_url('mediaelement/mediaelementplayer.min.css')}}">
<style>
    .mejs__overlay-button{background-image: url("{{static_url('mediaelement/mejs-controls.svg')}}")}
    .mejs__overlay-loading-bg-img{background-image: url("{{static_url('mediaelement/mejs-controls.svg')}}")}
    .mejs__button > button{background-image: url("{{static_url('mediaelement/mejs-controls.svg')}}")}
</style>
<div class="container">

    <video id="play_demon" class="video-js vjs-default-skin"\
           controls preload="auto" height="1024" width="680" \
           data-setup='{}' poster="">
        {% for video in video_lists %}
        <source src="{{video[1]}}" type="{{video[0]}}" ></source>
        {% end %}
    </video>

    {% if 0 < len(video_lists) and video_lists[0][0] == "application/vnd.apple.mpegurl" %}
    <script>
        var video_demon = videojs('#play_demon');
        video_demon.play();
    </script>
    {% end %}
</div>
{% end %}